@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}
.d_flex{
    display: flex;
}
.align_center{
    align-items: center;
}
.justify_center{
    justify-content: center;
}
.vh_100{
    height: 100vh;
}
.box{
    width: 424px;
    height: 567px;
    flex-shrink: 0;
    border-radius: 30px;
background: #FFF;
box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.10);
}
.p_1{
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.button{
    color: #FFF;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 24px */
border-radius: 35px;
background: #2C49FE;
padding: 11px 28px;
border: none;
cursor: pointer;
}
.mt_30{
    margin-top: 30px;
}
.button:hover{
    transform: scale(1.1);
}